.row {
display: flex;
justify-content: space-between;
align-items: center;
align-content: space-between;
}

.col{
    flex :1;
    background-color: aqua;
    color: white;
    text-align: center;
    /* margin: 3px; */
}


.col-2{
    flex: 2;
    background-color: aqua;
    color: white;
    text-align: center;
    margin: 3px;
}

.col-3 {
    flex: 3;
    background-color: aqua;
    color: white;
    text-align: center;
    margin: 3px;
}




